{% extends 'base.html' %}

{% block title %}Add a Client{% endblock %}

{% block content %}
    <section id="register" class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h4>
                                <i class="fas fa-user-plus"></i> Agent Signup</h4>
                        </div>
                    <div class="card-body">
                        <form id="AgentForm" method="POST" action="{% url 'addagent' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {% for field in form.visible_fields %}
                                {{ field.errors }}
                                {{ field.help_text }}
                                {{ field }}
                                <br />
                                <br />
                            {% endfor %}
                            <input type="submit" name="submit" value="Create account" />
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}